.weather {
    background-image: url("https://www.fisheries.noaa.gov/s3/styles/media_750_x500/s3/2022-02/750x500-elwha-river-credit-john-mcmillan.jpg?itok=4vwfC3a-");
    min-width: 100%;
    height: 40vh;
    margin: 0 -15px 0 -15px;
    padding: 15px;
    background-position: top center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    column-gap: 15px;
}


.weather::before {
    content: "";
    position: absolute;
    top: 60vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }



.weather-card {
    min-width: 300px;
    height: 33vh;
    background: rgba(255, 255, 255, 0.059);
    box-shadow: 0 8px 32px 0 rgba(22, 23, 33, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px 0 0 15px;
    color: #fff;
    font-size: 16px;
}

.weather-card h2{
    margin: 5px;
}

.weather-card p{
    line-height: 2;
}